
    html{
        margin:0;padding:0;
        color:white;
    background-image:url("https://images.hdqwalls.com/download/joker-the-dark-knight-4k-2018-kl-1920x1080.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    font-family: courier; 
    }
    body {
        margin:0;
        padding:8px;
        height:100vh;
        background-color: rgba(0,0,0,0.55);
        font-size:44pt;
        }
    h1{
        font-size : 64pt;
        font-weight: bolder;
    }
    #content{
        line-height: 60pt;
        font-weight: bolder;
        width:85%;
        margin:20pt auto;
        padding:30pt 20pt;
        background-color: rgba(0,0,0,0.72);
    }
    #container{
        text-align: center;
    }
    h1{
        /*background-color: rgba(0,0,0,0.67);*/
        padding:15pt;
        margin:0 auto;
        margin-top: 25pt;
        width:90%;
    }


@media only screen and (min-width: 1024px) {html{
    background-image:url("https://images.hdqwalls.com/download/joker-the-dark-knight-4k-2018-kl-1920x1080.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    font-family: courier; 
    overflow: hidden;
    padding:0;
    margin:0;
    }
    #sub{
        display:grid;
        grid-template-columns: 50% 50%;
    }
    h1{
        font-size: 25pt;
        font-weight: bolder;
        padding:25pt;
        background-color: rgba(0,0,0,0.77);
        width:40%;
    }
    #content{
        width:30%;
        font-size:20pt;
        line-height:23pt;
    }
    body {
        width:100%;
    margin:0;
    padding:0;
    background-color: rgba(0,0,0,0);
    }
    .pch{
        display: none;
    }
}